#login{
    display: flex;
    flex-direction: column;
    justify-content: top;
}
.what{
    text-align: center;
    color: #fff;
    letter-spacing: -5px;
    font-size: 40px;
    font-weight: lighter;
    margin-top:10%;
    width: 100%
}

input{
  width: 17em;
border-bottom-width: 2px;
font-weight: bold;
margin: 0 auto;
display: block;
background: 0;
border: 0;
border-bottom: 3px solid #fff;
color: #fff;
outline: none;
text-align: center;
  height:130px;
  font-size:20px;
}

.pass, send{
  display:none;
}

.info{
  color: #fff;
  text-align:center;
  font-size:16px;
  text-transform:uppercase;
}
