{% extends "base.html" %} 
{% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/log.css') }}">
{% endblock %}
{% block user_space %}
<a class="button" href="/logout">logout</a>
<a class="button" href="/user">you</a>
{% endblock %}
{% block content %}
<div class="window">
    <div class="bar">
        <div class="btn"></div>
    </div>
    <div class="body">
        <div id="term">
            <div class="prompt">$ <span class="command">ping http://{{ server.hostname }}</span></div>
            {% for log in old_logs %}
                <div class="prompt">
                    {% raw %}{{% endraw %}"STATUS": "{{log.code}}", "DATE": "{{log.date}}"{% raw %}}{% endraw %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="term">
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    $(setInterval(
        function () {
            let server = { "id": {{ server.id }},
            };

    $.getJSON('/_get_logs/',
        server,
        function (data) {
            console.log(data)
            let div = '<div class="prompt">' + data + '</div>'
            $("#term").append(div);
            if ($("#term > p").length > 10) {
                $('#term').find('p').last().remove();
            }
        }
    )
        },
    60000))
</script>
{% endblock %}