{% extends "base.html" %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block content %}
  <form id="login" action="/" method="POST">
    <div class="user what visible">
      What is your Username?
      <input class="focus" type="username" name="username">
    </div>
    <div class="pass what">
      What is your Password?
      <input class="loginput" type="password" name="password">
    </div>
    <p class="info">Press enter continue.</p>
  </form>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}